.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page > div {
    flex: 1;
    max-width: 500px;
}

.home-title {
    text-align: center;
    margin: 0;
    color: var(--hamblack);
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 16px;
}

.home-subtitle {
    text-align: center;
    margin: 0;
    color: var(--hamblack);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}