.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  padding: 16px;
}

.nav-item > span {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

#nav-app.navbar {
  height: auto;
}

#nav-app.navbar > .container-fluid {
  height: 100%;
  position: relative;
}

#nav-app.navbar .navbar-toggler {
  background: transparent;
  outline: 0;
  border: 1px dashed transparent;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: flex;
  background: var(--ketchup);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: 0.25s all ease-in-out;
}

#nav-app.navbar-toggler:focus {
  box-shadow: none;
}

#nav-app.navbar.navbar .navbar-toggler.empty {
  background: white;
  border: 1px dashed var(--hamblack);
}

#nav-app.navbar .navbar-toggler svg {
  display: flex;
  max-width: 64px;
}

.nav-list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: 0.3s transform ease, 0.5s opacity ease;
  transform: translateY(0);
  background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  pointer-events: none;
}

.nav-list.active {
  transform: translateY(100%);
  opacity: 1;
  pointer-events: auto;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.382);
}

footer > p {
  color: white;
}

.find-me {
  background: transparent;
  outline: 0;
  border: 0;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.find-me svg {
  display: flex;
  max-width: 64px;
}

.overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.find-me.top-bun {
  position: absolute;
  top: 24%;
  left: 24%;
}
.find-me.top-bun.hide {
  display: none;
}

.find-me.patty {
  position: absolute;
  top: 48%;
  left: 18%;
}

.find-me.patty.hide {
  display: none;
}

.find-me.cheese {
  position: absolute;
  bottom: 14%;
  left: 67%;
}

.find-me.cheese.hide {
  display: none;
}

.find-me.lettuce {
  position: absolute;
  top: 4%;
  left: 12%;
}

.find-me.lettuce.hide {
  display: none;
}

.find-me.bottom-bun {
  position: absolute;
  top: 89%;
  left: 13%;
}

.find-me.bottom-bun.hide {
  display: none;
}

img.halfsies {
  margin-top: -20px;
  width: 100%;
  max-width: 500px;
}

.heart-wrapper {
  margin-top: -50px;
}
