.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.app-content {
	flex: 1;
	padding: 16px;
}

.nav-item > a {
	font-size: 20px;
	text-decoration: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: 1px solid rgba(255, 255, 255, 0.382);
}

footer > p {
	color: white;
}
