.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  padding: 16px;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  width: 100%;
}

.app-nav > a {
  color: var(--hamblack);
  font-size: 20px;
  text-decoration: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--hamblack);
}

footer > p {
  color: var(--hamblack);
}


